# Archivos sensibles
.env
.env.*
*.json
!package.json
!package-look.json


!.env.dev.example
!.env.prod.example
!.env.dev.example
!.env.prod.example
!.env.frontend.prod.example
!.env.frontend.dev.example


node_modules/
mongo-backup/


*.pem
*.key
*.p12
secret.txt

# Node.js
dist/
build/
