# Archivos sensibles
.env
.env.*
*.json
!package.json
!package-look.json

!.env.dev
!.env.prod
!.env.frontend.prod
!.env.frontend.dev

!.env.frontend.example
.env.example.prod

node_modules/

*.pem
*.key
*.p12
secret.txt

# Node.js
dist/
build/
